h1 {
  color: rgb(135, 222, 139);
  background-color: black
  font-family: Comic Sans MS
  font-size: 48px;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  color: rgb(231, 119, 15);
  background-color: black
  font-family: Fantasy
  font-size: 24px;
  letter-spacing: 5px;
  text-align: center;  
}

hr {
  width: 800px;
  height: 15px;
  border: none;
  color: brown;
  background: brown
}

h3 {
  color: rgb(12, 12, 12);
  background-color: rgb(249, 250, 248)
  font-family: Sans serif
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left; 
}